<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="/node_modules/angular/angular.js"></script>
		<script>
			// .module(name, dependencies)
			var app = angular.module("app", []);
					//controller arg is fabric function
					//examples of controller which controll some html DOM block
					//$scope is object which linked and accessed data via html
      		app.controller("defCtrl", function ($scope) {
					$scope.message = "hello";

					//behavior
					$scope.clickHandler = function () {
						$scope.message = $scope.text;
					}
			});
		</script>
</head>
<body ng-controller="defCtrl">
	<h1>message {{message}}</h1>
	<input ng-model="text" />
	<button ng-click="clickHandler()">Update</button>
</body>
</html>