 <!doctype html>
<html lang="en" ng-app="courceListApp">
<head>
    <meta charset="UTF-8">
    <title></title>
		<script src="/node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<script>
			var model = {
				user: "vane0kravitz",
				cources: [
					{
						name: "cource1", 
					 	passed: true,
					 	price: 15,
					 	category: 1,
					 	count: 11
					},
					{
						name: "cource2", 
					 	passed: true,
					 	price: 10,
					 	category: 2,
					 	count: 11
					},
					{
						name: "cource3", 
					 	passed: true,
					 	price: 18,
					 	category: 1,
					 	count: 11
					},
					{
						name: "cource4", 
					 	passed: false,
					 	price: 14,
					 	category: 2,
					 	count: 11
					},
				]
			}

			var app = angular.module("courceListApp", []);

      app.controller("courceListController", function ($scope) {
				$scope.list = model;
				$scope.showHide = true;

				//behavior
				$scope.clickHandler = function (showHide) {
					$scope.showHide = showHide ? false : true;
				}
				$scope.clickCource = function (passed) {
					$scope.cource.passed = passed ? false : true;
				}

				$scope.addNewCource = function () {
					$scope.list.cources.push({
						name: $scope.courceName,
						passed: false,
						price: 0
					})

					$scope.courceName = "";
				}

				$scope.showText = function (passed) {
					return passed ? "+" : "-";
				}

				$scope.setClass = function (passed) {
					return passed ? "btn-success active" : "btn-warning";
				}

				$scope.textShowHide = function (showHide) {
					return showHide ? "Show" : "Hide";
				}
			});
		</script>
</head>
<body ng-controller="courceListController">
	
	<div class="container">
		<div class="page-header">
			<div class="page-header">
				<h1>
					Planning cources
				</h1>
				<h3>User: {{list.user}}. Total - {{list.cources.length}}</h3>
			</div>
		</div>
		<div class="panel">
			<div class="input-group">
				<!-- ng-model allows assign data with scope 
					input
					textarea 
					option (selects)
				-->
				<input class="form-control" ng-model="courceName" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addNewCource()">Add</button>
				</span>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Cource</th>
						<th>Price</th>
						<th>Category</th>
						<th>Count</th>
						<th>Passed</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cource in list.cources">
						<td>{{cource.name}}</td>
						<!-- individual data: currency,date,json,number,uppercase,lowercase-->
						<!-- collection filters: filter(a sample of the array),limitTo,orderBy(sorting) -->
						<td>{{cource.price | currency: "UAH "}}</td>
						<td>{{cource.category}}</td>
						<td>{{cource.count}}</td>
						<td>
							<input type="checkbox" ng-model="cource.passed"/>
							<button class="btn {{setClass(cource.passed)}}" ng-click="clickCource(cource.name, cource.passed)">{{showText(cource.passed)}}</button>
						</td>
					</tr>
				</tbody>
			</table>

			<button class="btn btn-default" ng-model="showHide" ng-click="clickHandler(showHide)">{{textShowHide(showHide)}}</button>
			<!-- ng-if deletes the element by dom
					 ng-show(false) add angular css class "ng-hide"
			 -->
			<p class="bg-primary" ng-hide="showHide">element show!!!</p>
		</div>
	</div>

</body>
</html>