 <!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <title></title>
		<script src="/node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<script>
			var module = angular.module("exampleApp", []);

			module.controller("defaultController", function($scope) {
				
				$scope.buttons = {
					names: ["Butt #1", "Butt #2", "Butt #3"],
					totalClicks: 0 
				};

				// watch changes in buttons.totalClicks
				$scope.$watch('buttons.totalClicks', function(newVal) {
					console.log("Total click count" + newVal);
				});
			});

			module.directive("triButton", function() {
				return {
					scope: { counter: "=counter"},
					link: function(scope, element, attrs) {
						element.on("click", function(event) {
							console.log("Button click: ", + event.target.innerText);
							scope.$apply(function() {
								scope.counter++;
							});
						});
					}
				}
			})
		</script>
</head>
<body ng-controller="defaultController">

	<div class="container">
		<div class="well">
			<div class="btn-group" tri-button counter="buttons.totalClicks" source="buttons.names">
				<button class="btn btn-default" ng-repeat="name in buttons.names">
					{{name}}
				</button>
			</div>
			<h5>Total clicks: {{buttons.totalClicks}}</h5>
		</div>
	</div>

</body>
</html>