<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="/node_modules/angular/angular.js"></script>
		<script>
			// .module(name, dependencies)
			var app = angular.module("app", []);
      		app.controller("defCtrl", function ($scope) {
					$scope.message = "hello";
			});
		</script>
</head>
<body ng-controller="defCtrl">
	<h1>message {{message}}</h1>
</body>
</html>