<!doctype html>
<html lang="en" ng-app="courceListApp">
<head>
    <meta charset="UTF-8">
    <title></title>
		<script src="/node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<script>
			var model = {
				user: "Ivan",
				cources: [
					{name: "cource1", passed: true},
					{name: "cource2", passed: true},
					{name: "cource3", passed: true},
					{name: "cource4", passed: false},
				]
			}

			var app = angular.module("courceListApp", []);

      app.controller("courceListController", function ($scope) {
				$scope.list = model;

				//behavior
				$scope.addNewCource = function () {
					$scope.list.cources.push({
						name: $scope.courceName,
						passed: false
					})

					$scope.courceName = "";
				}

				$scope.showText = function (passed) {
					return passed ? "+" : "-";
				}

				$scope.setClass = function (passed) {
					return passed ? "btn-success active" : "btn-warning";
				}
			});
		</script>
</head>
<body ng-controller="courceListController">
	
	<div class="container">
		<div class="page-header">
			<div class="page-header">
				<h1>
					Planning cources
				</h1>
				<h3>User: {{list.user}}. Total - {{list.cources.length}}</h3>
			</div>
		</div>
		<div class="panel">
			<div class="input-group">
				<!-- ng-model allows assign data with scope 
					input
					textarea 
					option (selects)
				-->
				<input class="form-control" ng-model="courceName" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="addNewCource()">Add</button>
				</span>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Cource</th>
						<th>Passed</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cource in list.cources">
						<td>{{cource.name}}</td>
						<td><input type="checkbox" ng-model="cource.passed"/></td>
						<td><button class="btn {{setClass(cource.passed)}}">{{showText(cource.passed)}}</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>