 <!doctype html>
<html lang="en" ng-app="exampleApp">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>
	<script src="/node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

	<script src="app.js"></script>
	<script src="controller.js"></script>
	<!-- <script src="directive.js"></script> -->
</head>
<body ng-controller="defaultController">

	<div class="container">
		<div class="well">
			<div class="btn-group">
				<button class="btn btn-default" ng-click="sendRequest()">
					Send r
				</button>
			</div>
			<h5>Total items: {{items.length}}</h5>
			<table class="table">
				<tr ng-repeat="item in items">
					<td>{{item.name}}</td>
					<td>{{item.passed}}</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>